/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 oct. 2016, 16:59:36
    Author     : andeoll
*/

body {
    margin: 0;
    border: 0;
    display:flex;
    width:100%;
    min-height: 100vh;
    flex-direction:column;
}

header,footer{
    margin:0;
    height:50px;
    display:flex;
    width:100%;
    text-align:center;
    background-color:green;
}

main {
    flex:1;
    padding:10px;
    background-image:url('../res/background.jpg');
    color:white;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:stretch;
}

nav {
    background-color:yellow;
    display:flex;
    width:100%;
}

.menu-item {
    display:flex;
    flex:1;
    width:100%;
}

.menu-item a{
    align-content:center;
    text-align:center;
    display:flex;
    flex:1;
    width:100%;
}

/* #### Read*/

main .read a:visited, main .read a{
    color:white;
    text-decoration: none;
    text-align:right;
}
main .read{
    height:300px;
    display:flex;
    flex-direction:column;
    background-color: darkslateblue;
    flex-basis:31%;
}
main .read .name{
    font-size:1.5em;
    font-weight: bold;
}

main .read .id{
    font-style:italic;
    font-size:0.85em;
}
main .read .price{
    color:red;
}

main .read .description{
    flex:1;
}

main .read div{
    padding-bottom: 4px;
}
main .read div.name{
    margin:5px;
}
/* #### ReadAll*/

main .readAll{
    border:1px solid white;
    
    margin:10px;
    padding:5px;
}
main .readAll div.detail{
    font-weight: bold;
    padding:5px 10px;
    border:2px;
    font-size:20px;
    background-color:yellow;
    color:black;
    text-align: center;
}
