/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 oct. 2016, 16:59:36
    Author     : andeoll
*/

body {
    margin: 0;
    border: 0;
    display:flex;
    width:100%;
    min-height: 100vh;
    flex-direction:column;
}

header,footer{
    margin:0;
    height:50px;
    display:flex;
    width:100%;
    text-align:center;
    background-color:green;
}

main {
    flex:1;
    padding:10px;
    background-image:url('../res/background.jpg');
    color:white;
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
}

nav {
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:flex;
}

.menu-item, .menu-dropdown {
    display:flex;
    flex-basis: 160px;
    flex:1;
}

.menu-item a, .menu-dropdown>a{
    display:flex;
    flex:1;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover .menu-dropdown:hover>a{
    background-color:red;
}

.menu-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-dropdown-content a:hover {background-color: #f1f1f1}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}

/* #### Read*/

main .read a:visited, main .read a{
    color:white;
    text-decoration: none;
    text-align:right;
}
main .read{
    height:350px;
    display:flex;
    flex-direction:column;
    background-color: darkslateblue;
    flex-basis:31%;
}
main .read .name{
    font-size:1.5em;
    font-weight: bold;
}

main .read .id{
    font-style:italic;
    font-size:0.85em;
}
main .read .price{
    color:red;
}

main .read .description{
    flex:1;
}

main .read div{
    padding-bottom: 4px;
}
main .read div.name{
    margin:5px;
}
/* #### ReadAll*/

main .readAll{
    border:1px solid white;
    
    margin:10px;
    padding:5px;
}
main .readAll div.detail{
    font-weight: bold;
    padding:5px 10px;
    border:2px;
    font-size:20px;
    background-color:yellow;
    color:black;
    text-align: center;
}
