/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 oct. 2016, 16:59:36
    Author     : andeoll
*/

body {
    margin: 0;
    border: 0;
    display:flex;
    width:100%;
    min-height: 100vh;
    flex-direction:column;
    color:white;
    font-family:"opensans-regular",sans-serif;
    font-weight: bold;
    background-color: black;
}

header,footer{
    display:flex;
    width:100%;
    background-color:#1B1B1B;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    justify-content:space-between;
}

footer *{
    flex:1;
    text-align:center;
}

main {
    display:flex;
    flex:1;
    background-color:#666666;
    flex-direction:column;
    align-items:center;
}

article {
    width:65vw;
    display:flex;
    flex-direction:column;
    flex:1;
    margin: 0 auto;
    background:#4a4a4a;
    padding:30px;
    box-shadow: 0px 70px 5em 3em #222222;
}

article>form{
    margin:0 auto;
    margin-top:25%;
}
article>form.panier{
    margin-top:0%;
}

a {
    color:white;
    text-decoration: none;
}

footer a {
    font-style: italic;
}

.menu-logo {
    display:flex;
    align-self:flex-start;
    align-items:center;
    flex-direction:row;
    height:100%;
    margin-left: 10px;
}

.menu-search {
    margin:0;
    display:flex;
    align-self:center;
    flex-direction:row;
    flex:0 0 30%;
    padding:0;
}

.menu-logo-content {
    flex:1;  
}

.menu-logo-img {
    width:50px;
}

.menu-buttons {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}

.menu-item, .menu-dropdown {
    display:flex;
    width: 150px;
    flex-direction:column;
    border-right: 2px solid #5a5a5a;
    align-self:flex-end;
    justify-content:center;
}

@keyframes button-menu {
    from {
        background-color:#1B1B1B;
    }
    to {
        background-color:#4A4A4A;
    }
}

.menu-item:hover, .menu-dropdown:hover {
    animation-name: button-menu;
    animation-duration: 0.8s;
    background-color:#4A4A4A;
}


.menu-item:first-child, .menu-dropdown:first-child {
    border-left: 2px solid #5a5a5a;
}

.menu-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-dropdown:hover .menu-dropdown-content {
    display: flex;
    flex:1;
    max-width: 150px;
    flex-direction:column;
}

.menu-item a, .menu-dropdown a{
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    height:100%;
    box-sizing:border-box;
}

.menu-dropdown-content a {
    color: black;
}

.menu-dropdown-content a:hover {

    animation-name: button-menu-2;
    animation-duration: 0.8s;
    background-color: #dcdcdc;
}

@keyframes button-menu-2 {
    from {
        background-color:#f9f9f9;
    }
    to {
        background-color: #dcdcdc;
    }
}

.basket a {
    
}
/* INPUTS */

.input {
    display:flex;
    margin-bottom: 1em;
}

.input-search {
    display:flex;
    width:100%
}

.input-field {
    flex:1;
}

.input-field:not(:first-child) {
    border-left: 0;
}
.input-field:not(:last-child) {
    border-right: 0;
}

.input-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #EEEEEE;
    font: inherit;
    font-weight: normal;
}

.input-field,
.input-item {
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.5em 0.75em;
}
.input-field:first-child,
.input-item:first-child {
  border-radius: 2px 0 0 2px;
}
.input-field:last-child,
.input-item:last-child {
  border-radius: 0 2px 2px 0;
}

.imgbut {
    width:25px;
    height:25px;
}

/* PRODUCTS */

.products {
    display:flex;
    flex-direction:column;
    flew-wrap:wrap;
}

.product {
    display:flex;
    flex:1;
    margin-bottom:25px;
    border: 2px solid grey;
    padding: 5px;
}

.product-name {
    text-decoration: underline;
    display:flex;
    flex-direction:row;
    flex:1;
    margin-bottom:25px;
    border: 2px solid grey;
    padding: 5px;
    align-self:center;
    text-align:center;
    margin-right:20px;
}

.product-price {
    display:flex;
    align-self:center;
    text-align:center;
    margin-right:20px
}

.product-text {
    display:flex;
    align-self:center;
    text-align:center;
    margin:auto;
    flex:1;
}

.product-button {
    display:flex;
    align-self:center;
    text-align:center;
    margin-right:20px;
}

.product-pic {
    width:15em;
    height:15em;
    border: 2px solid grey;
    margin-right:5px;
}

/* PRODUCT DETAIL */


.product-detail {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    align-content:space-around;
    margin-bottom:25px;
    border: 2px solid grey;
    padding: 5px;
}

.product-detail-name {
    text-decoration:underline;
    margin-bottom:10px;
    margin-left:10px;
}

.product-detail-pic {
    width:300px;
    height:300px;
    flex:1;
    margin-bottom:10px;
}

.product-detail-price {
    font-style: italic;
    font-size:30px;
    margin-bottom:30px;
    margin-left:20px;
}

.product-detail-text {
    margin-bottom:30px;
    margin-right:10px;
    margin-top: 30px;
    margin-left:10px;
}

.returnbutn {
    width:5em;
    height:5em;
}

.basktebutn{
    width:5em;
    height:5em;
}

.containerbuttons{
    display:flex;
    flex-direction:row;
    flex:1;
    width:100%;
    justify-content:space-around;
}

.returnbutn,.basktebutn {
    flex:1;
}

/* panier */

table {
    border-collapse: collapse;
}

table, th, td {
    border: 5px groove black;
}
table {
    width: 100%;
}

.cart-pic {
    width:100px;
    height:100px;
}

/* MEDIA OBJECTS */

.Media {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
}

.Media-figure {
  margin-right: 1em;
}

.Media-body {
  flex: 1;
}
.Media-body,
.Media-body :last-child {
  margin-bottom: 0;
}

.Media-title {
  margin: 0 0 .5em;
}

.Media--center {
  align-items: center;
}

.Media--reverse > .Media-figure {
  order: 1;
  margin: 0 0 0 1em;
}